<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <configSections>
    <section name="commerceEngine"
             type="DependencyInjectionExample.CustomerConfigurationSection, CustomerConfigurationSection"/>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <commerceEngine>
    <mailer name="acmePayment"
            type="DependencyInjectionExample.Customer"
            fromAddress="test@gmail.com"
            smtpServer="mail.google.com"/>
  </commerceEngine>
  <unity  xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IDal" type="DependencyInjectionExample.IDal, DependencyInjectionExample"/>
    <namespace name="DependencyInjectionExample"></namespace>
    <assembly name="DependencyInjectionExample"></assembly>
    <container>
      <register type="IDal" name="sql" mapTo="SqlServerDal"></register>
    </container>
    <!--<containers>
      
    <type type ="DependencyInjectionExample.IDal, IDal"
          mapto="DependencyInjectionExample.IDal, OracleDal"
          name ="oracle">
    </type>
    <type type ="DependencyInjectionExample.IDal, Dal"
          mapto="DependencyInjectionExample.IDal, SqlServerDal"
          name ="sql">
    </type>
    </containers>-->
  </unity>
</configuration>